body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
}

.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100px;
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9) 0%,
    #292a2b 5%,
    #292a2b 95%,
    rgba(0, 0, 0, 0.9) 100%
  );
  color: white;
  text-align: center;
  border-bottom: 1px solid #0e0d0e;
}

.logo {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.logo img {
  cursor: pointer;
}

.lang {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 5px;
  position: relative;
}

.lang:hover {
  background-color: #202020;
}

.lang-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #292a2b;
  border: 2px solid #202020;
  border-radius: 4px;
  padding: 5px;
  z-index: 1000;
}

.lang-dropdown:active {
  background-color: #292a2b;
}

.lang-dropdown span {
  display: block;
  padding: 10px;
  cursor: pointer;
}

.lang-dropdown span:hover {
  padding: 11px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: right;
  align-items: center;
  height: auto;
  margin-right: 5rem;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.user-profile {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-left: auto;
  width: 10%;
  justify-content: center;
  align-items: center;
}

.user-img-container {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 55px;
  height: 55px;
  background-color: #631a63;
  cursor: pointer;
}

.user-img-container h2 {
  color: white;
  font-size: 42px;
  margin: 0;
}

.user-name {
  margin-top: 5px;
  padding: 3px;
  color: #dfdcdc;
  font-size: 14px;
  cursor: pointer;
  border: solid 2px #202020;
}

.user-name:hover {
  color: #ffffff;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.nav-list li {
  margin: 0 15px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.nav-list li a {
  color: #e7e7e7;
  text-decoration: none;
  display: block;
  padding: 15px;
}

.nav-list li:hover {
  background-color: #202020;
  border-radius: 5px;
}

.nav-list li a:hover {
  color: #ffffff;
}

.application-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: #242424;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: top-center;
  align-items: center;
  color: white;
  width: calc(100% - 250px);
  left: 250px;
}

.main-container h1 {
  color: white;
  font-size: 32px;
  margin-top: 20px;
}

.content p {
  color: white;
  font-size: 16px;
}

.main-button-container {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-button-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-button-nav a {
  color: #ffffff;
  display: block;
  padding: 15px;
  border-radius: 10px;
  color: rgb(22, 86, 158);
  text-underline-offset: 2px;
}

.main-button-nav a:hover {
  color: #631a63;
}

.app-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  width: calc(100% / 3);
  background-color: #333;
  color: white;
  text-align: center;
  border-right: 1px solid #0e0d0e;
  border-left: 1px solid #0e0d0e;
  border-radius: 5px;
  height: 600px;
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 80px !important;
  background-color: #292a2b;
  border-bottom: 1px solid #0e0d0e;
}

.sidebar-header h2 {
  margin-left: 0;
  margin-right: 1.5rem;
  text-align: center;
  flex: 1;
}

/* .sidebar-separator {
  width: 1px;
  height: 80%;
  background-color: #0e0d0e;
  margin: 0 1rem 0 1rem;
} */

.search-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3.8rem;
  width: 65px;
  height: 45px;
  background-color: #292a2b;
  border: solid 2px #161616;
  border-radius: 5px;
  cursor: pointer;
}

.search-img-container:hover {
  background-color: #232324;
}

#search-icon {
  display: inline-block;
  text-align: center;
}

/* #close-icon {
  margin-bottom: 30px;
  cursor: pointer;
} */

.sidebar-header .footer-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 10%;
}

.app-footer {
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9) 0%,
    #292a2b 5%,
    #292a2b 95%,
    rgba(0, 0, 0, 0.9) 100%
  );
  color: white;
  text-align: center;
  border-top: 1px solid #0e0d0e;
}

/* .close-icon {
  cursor: pointer;
  margin-bottom: 25px;
  margin-right: auto;
} */

/* #map {
  width: 70%;
  height: 70%;
} */

.map-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.search-input {
  margin: 5rem;
  padding: 5px;
  text-align: center;
  flex: 1;
}

.image-container {
  border: solid 2px #202020;
  width: 500px;
  height: 300px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}

.table-container {
  height: calc(100% - 80px);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.restaurant-table {
  margin-top: 5px;
  padding: 1rem;
  overflow-y: auto;
  max-height: calc(100% - 80px);
}

.restaurant-table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 0 5px 0;
  border-bottom: solid 2px #242424 !important;
}

.restaurant-rows th {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 4px;
  padding: 5px;
  padding-bottom: 10px;
  font-size: 16px;
}

.restaurant-highlight {
  background-color: #242424;
}
