body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  width: 80%;
  height: 100vh;
  left: 10%;
  position: fixed;
}

.app-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9) 0%,
    #292a2b 5%,
    #292a2b 95%,
    rgba(0, 0, 0, 0.9) 100%
  );
  color: white;
  text-align: center;
  border-bottom: 1px solid #0e0d0e;
}

.logo {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.logo img {
  cursor: pointer;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: right;
  align-items: center;
  height: auto;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.user-profile {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-left: auto;
  width: 10%;
  justify-content: center;
  align-items: center;
}

.user-img-container {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 65px;
  height: 65px;
  background-color: #641e64;
  cursor: pointer;
}

.user-img-container h2 {
  color: white;
  font-size: 42px;
  margin: 0;
}

.user-name {
  margin-top: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.nav-list li {
  border: 2px solid #641e64;
  border-radius: 10px;
  margin: 0 15px;
  text-decoration: none;
}

.nav-list li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px;
  border-radius: 10px;
}

.nav-list li a:hover {
  color: #641e64; /* Text color on hover */
  background-color: #202020; /* Background color on hover */
}

.application-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: #242424;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: top-center;
  align-items: center;
  color: white;
  width: calc(100% - 250px);
  left: 250px;
}

.main-container h1 {
  color: white;
  font-size: 32px;
  margin-top: 20px;
}

.content p {
  color: white;
  font-size: 16px;
}

.main-button-container {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-button-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-button-nav a {
  color: #ffffff;
  display: block;
  padding: 15px;
  border-radius: 10px;
}

.main-button-nav a:hover {
  color: #641e64;
}

.app-sidebar {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  width: 250px;
  height: calc(100vh - 200px);
  background-color: #333;
  color: white;
  text-align: center;
  border-right: 1px solid #0e0d0e;
  border-left: 1px solid #0e0d0e;
  border-radius: 5px;
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #292a2b;
  border-bottom: 1px solid #0e0d0e;
}

.sidebar-separator {
  width: 1px;
  height: 80%;
  background-color: #0e0d0e;
  margin: 0 15px 0 15px;
}

#search-icon {
  cursor: pointer;
}

#close-icon {
  margin-bottom: 30px;
  cursor: pointer;
}

.sidebar-header .footer-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 10%;
}

.app-footer {
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9) 0%,
    #292a2b 5%,
    #292a2b 95%,
    rgba(0, 0, 0, 0.9) 100%
  );
  color: white;
  text-align: center;
  border-top: 1px solid #0e0d0e;
}

.close-icon {
  cursor: pointer;
  margin-bottom: 25px;
}

#map {
  width: 100%;
  height: 100%;
}
