.calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.calendar-day {
  padding: 10px;
  background-color: #202020;
  margin: 0 5px 0 5px;
  border-radius: 5px;
  border: solid 1px #161616;
}

.calendar-day:hover {
  background-color: #161616;
  cursor: pointer;
}
